.app {
    width: 20rem;
    height: auto;
    margin: 5rem auto;
    text-align: center;
    background-color: rgb(203, 254, 245);
    padding: 1.5rem 0;
    border-radius: 2rem;
}

.inputbtn {
    margin: 1rem;
    padding: 1rem;
    border-style: none;
    border-radius: 5rem;
}

.button {
    margin: 1rem 1.5rem;
    padding: 1rem;
    border-style: none;
    border-radius: 5rem;
    background-color: rgb(163, 245, 218);
}

.button:hover {
    box-shadow: 0.5rem 0.5rem 1rem rgb(232, 230, 230);
}

.button:active {
    opacity: 0.7;
}