#container {
    width: 30rem;
    height: auto;
    text-align: center;
    margin: 4rem auto;
    border-style: none;
    border-radius: 2rem;
    background-color: rgb(226, 233, 160);
    color: rgb(6, 170, 0);
    font-size: 1.5rem;
    padding: 1rem;
}

label {
    margin: 2rem;
}

button {
    width: 6rem;
    height: auto;
    margin: 1rem;
    color: rgb(6, 170, 0);
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    background-color: rgb(226, 233, 160);
    border: 0.2rem solid white;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
}

button:hover {
    opacity: 0.6;


}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    border: none;
    border-radius: 2rem;
    margin: 0.5rem;
    color: white;
    background-color: rgb(6, 170, 0);
    text-align: center;
    padding: 8px 12px;
}

input:focus {
    outline: none;
}

button:active {
    scale: 0.98;
    border: 0.2rem solid rgb(226, 233, 160);

}